@media (max-width: 320px) {

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
#containerhome {
  width: 100%;
}

body {
      font-size: 12px;
}

.screen .main {
    height: 100%;
    }

    body {
      margin:0;
      padding:0;
}

}
