@media (max-width: 320px) {

<meta name="viewport" content="width=device-width; initial-scale=1; />
#containerhome {
  width: 100%;
}

body {
    font-size: 12px;
    height: 100%;
    width: 100%;
    position: absolute;
    height: 19em;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: white;
    }

    #content {
    			float: none;
    			width: 100%;
    		}


.polaroid {
  width: 100%;
  text-align: left;
}

h1 {
  width: auto;
		margin: auto;
    min-height: 400px;
}

#containerhome {
    margin: auto;
    text-align: center;
    width: 60%;
		}

}


}
