@media (max-width: 320px) {

<meta name="viewport" content="width=device-width; initial-scale=1; />




#containerhome {
  float: none;
  width: 100%;
}

body {
    font-size: 11px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0 auto;
    top: 0 auto;
    margin: 0 auto;
    padding: 0 auto;
    }


.polaroid {
  width: 100%;
  text-align: left;
}

h1 {
  width: 0 auto;
	margin: 0 auto;
  min-height: 400px;
}

#containerhome {
    margin: 0 auto;
    text-align: center;
    width: 60%;
		}

}


}
